html{
	cursor: url(assets/hotelicon.png);
}
.header {
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 300px 200px;
	max-width: 80%;
}
.header * {
	margin-left: auto;
	margin-right: auto;
}

.navigation {
	display: flex;
	flex-direction: row;
	max-width: 80%;
	justify-content: center;
	margin: auto;

	gap: 30px;
}

a {
	font-family: 'Futura';
	color: #FDF6DA;
}

a:link {
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	color: #5E4251;
}

a:active {
	text-decoration: underline;
	color: #5E4251;
}

h3 {
	font-family: Red Rose;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 50px;
	/* identical to box height */

	text-align: center;
	letter-spacing: 0.2em;
	text-transform: lowercase; 

	color: #FDF6DA;

}

h2 {
	margin-top: 0px;
	margin-bottom: -80px;

	font-family: 'Red Rose';
	font-style: normal;
	font-weight: 400;
	font-size: 45px;
	line-height: 94px;
	text-align: center;
	letter-spacing: 0.145em;

	color: #FDF6DA;

}

h1 {
	color: #FDF6DA;
	font-family: 'Red Rose';
	font-style: normal;
	font-weight: 400;
	font-size: 65px;
	line-height: 94px;
	text-align: center;
	letter-spacing: 0.145em;


}

body {
	background-image: url("hotel.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	background-size: auto;

}


.title_column {
	display: flex;
	text-align: center;
	justify-content: center;
  	align-items: center;

}
.title_column {
  	height: 250px;
	margin: auto;

	background-color: #75638B;
}
.title_lettering {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	font-family: Futura;
	font-style: normal;
	font-weight: 500;
	font-size: 42px;
	line-height: 65px;
	text-align: center;
	letter-spacing: 0.145em;
	text-transform: uppercase;

	color: #FDF6DA;
	border-bottom: 4px double;
}

.info_column {
	margin: auto;
	text-align: justify;
    text-align-last: center;
    margin-top: 30px;

    background-color: #75638B;
 }
 .info_lettering {
    font-family: Futura;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 40px;
	letter-spacing: 0.1em;

	margin: auto;
	padding: 50px 50px;
	color: #FDF6DA;
}

.plot, .development, .casting, .costumes {
	max-width: 60%;
	margin: auto;
	margin-top: 200px;
	margin-bottom: 200px;
	padding-top: 100px;
	padding-bottom: 100px;
}

.actors, .production {
	display: flex;
	flex-direction: row;
	margin: auto;
	justify-content: space-around;
	max-width: 70%;

	margin-top: 200px;
	margin-bottom: 200px;

	padding-top: 100px;
	padding-bottom: 100px;

	gap: 20px;
}

.info_row {
	text-align: center;
	flex-grow: 3;

	background-color: #6182A1;
}

.title_row {
	display: flex;
	text-align: center;
	justify-content: center;
  	align-items: center;
	flex-grow: 1;
	background-color: #6182A1;
}

.actor {
	padding-top: 20px;
	padding-bottom: 20px;
}

.actor:hover::after {
	display: block;
	content: attr(data-desc);
	font-family: 'Red Rose';
	font-weight: 300;
}

.actorlist {
	display: flex;
	flex-direction: column;
	font-family: 'Futura';


}

.production {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 60%;
}

 .prod::after {
	display: block;
	justify-content: center;
	content: attr(data-desc);
	font-family: 'Red Rose';
	font-weight: 300;
	font-size: 20px;

}

.dev {
	background-color: #C6617F;
}

.prod {
	font-size: 30px;

	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 0px;
	background-color: #D9859D;
}

.cast {
	background-color: #A7717F;
}

.cost {
	background-color: #885C68;
}


@media (max-width: 768px) {
	body{
		background-image: url("hotelmobile.png");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center; 
		background-size: auto;

	}

	.header {
		padding: 250px 20px;
		display: flex;
		flex-direction: column;
		margin: auto;
		max-width: 90%;
	}

	h2 {
		margin-bottom: -35px;
		font-size: 25px;
	}

	h1 {
		font-size: 40px;
		line-height: 50px;
		text-align: center;
		margin: auto;
		max-width: 60%;
	}

	h3 {
		font-size: 20px;
	}

	.navigation {
		flex-wrap: wrap;
		max-width: 95%;
		margin: auto;
		margin-top: 15px;
		font-size: 14px;
	}

	.plot, .development, .casting, .costumes {
		max-width: 80%;
		margin: auto;
		margin-top: 100px;
		margin-bottom: 100px;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.actors, .production {
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: 80%;
	
	}
	.info_lettering {
		font-size: 15px;
		line-height: 30px;
	}
	.title_lettering {
		max-width: 60%;
		text-align: center;
		justify-self: center;
	}

}
 