@keyframes moveCircle {
  0% {
    clip-path: circle(8.0% at 60% 67%)
  }
  15% {
    clip-path: circle(11% at 10% 30%);
  }
  30% {
    clip-path: circle(15.0% at 20% 20%)
  }
  40% {
    clip-path: circle(5% at 40% 47%);
  }

 	65%{
 		clip-path: circle(17% at 90% 90%);
 	}
  80% {
    clip-path: circle(12% at 75% 15%);
  }
  100%{
    clip-path: circle(8.0% at 60% 67%)
  }


}
body {
	background-color: black;

}

.whole {
	animation: moveCircle 10s;
	animation-iteration-count: infinite;
	position: absolute;
	height: 100vh;
  width: 100vw;
}

.background {
	position: relative;
  height: 100vh;
  width: 100vw;

  background-image: url("homepage.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
}

.homepage {
	font-family: atrament-web, sans-serif;
	
	font-weight: 700;
	
	font-style: normal;
	font-size: 80px;

	color: white;
	margin: auto;
	text-align: center;
}

.button {
	width: 150px;
	height: 150px;
}

.sections {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	margin: auto;

	justify-content: space-evenly;
	width: 50%;
}

.menu {
	position: absolute;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	justify-content: center;
	align-items: center;

	width: 100vw;

	margin-top: 20%;

	z-index: 5;
}

.regular:hover {
  filter: invert(28%) sepia(74%) saturate(2580%) hue-rotate(351deg) brightness(102%) contrast(103%);
}
.bubble:hover {
  filter: invert(75%) sepia(41%) saturate(744%) hue-rotate(19deg) brightness(90%) contrast(98%);
}

.special:hover {
  filter: invert(59%) sepia(43%) saturate(681%) hue-rotate(163deg) brightness(101%) contrast(106%);
}

.cursive:hover {
  filter: invert(70%) sepia(96%) saturate(352%) hue-rotate(354deg) brightness(105%) contrast(104%);
}

@media (max-width: 768px) {

.homepage {
	font-size: 50px;
	margin-bottom: 30px;

}
.sections {
	flex-direction: column
}
.menu {
margin-top: 40%;
}

.button {
	width: 100px;
	height: 100px;

	margin: auto;
}

