
body {
  margin: 0;
  display: flex;
  /* This centers our sketch horizontally. */
  justify-content: center;
  /* This centers our sketch vertically. */
  align-items: center;

  background: black;
}

/* i'm using the z index to move the slider on top of the container */
.container {
  z-index: 5;
  display:  flex;
  font-family: nove, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 8vw;
  align-items: center;
  justify-content: center;
  height: 100vh;
  letter-spacing: 1px;
  width: 80vw;

  flex-direction: column;

}

.subhead {
  font-family: informapro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2vw;
  color: white;
  text-align: center;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.container{
animation-name: appear;
animation-duration: 2s;
}

.parent {
  height: 80vh;
  overflow-y: hidden;


}
@keyframes appear {
  from { transform: translateY(80vh) }
  to {   transform: translateY(0)}
}
a {
  z-index: 4;
  text-decoration: none;
  color: red;

  -webkit-text-stroke: 1px white;
}

