body {
	background-color: black;
}

section {
  display:  flex;
  flex-direction:  column;
  justify-content: center;
  align-items:  center;
  height:  100vh;
}
section > * {
  margin: 10px;

}

.button {
  padding: 50px 80px;
  border-radius: 60px;
  background-color:  white;
  color:  orange;

  font-family: "Futura";
  font-size:  60px;

}

.button:hover {
  background-color: orange;
  color: white;
  cursor:  pointer;
}


.light {
	background: radial-gradient(circle, rgba(34,193,195,1) 4%, rgba(152,190,114,1) 35%, rgba(253,187,45,1) 97%);
	background-image: radial-gradient(circle, rgba(34,193,195,1) 4%, rgba(152,190,114,1) 35%, rgba(253,187,45,1) 97%);;
}


.buttonOn:hover {
	background-color: white;
 	color:  orange;
  cursor: default;
}

.button_2 {
  padding: 20px 50px;
  border-radius:30px;
  background-color:  white;
  color:  orange;

  font-family: "Futura";
  font-size:  30px;
  text-align:  center;
  display: none;
}

.button_2:hover {
  cursor: pointer;
  background-color: orange;
  color: white;
}

#clock {
  color: white;

  font-family: "Futura";
  font-size: 80px;