.header-line{
	opacity: 0;
}
body {
	background-color: #E0FF87;
}

mark {
	background-color: transparent;
  	outline: 3px solid #E0FF87;
}

.switch {
	margin-bottom: 0px;
	display: flex;
	flex-direction: row;
	margin-top: 1%;
	margin: auto;
	gap: 30px;
	justify-content: flex-end;
	max-width: 1200px;
	font-size: 95px;

	align-items: baseline;
}
a{
	margin: auto;
}
.switch > * {
	opacity:  0.5;
	transition: opacity 0.3s;
	color: black;
}

.switch:hover > * {
	opacity: 0.5;
	transition: opacity 0.3s;
	transition: font-size 0.5s ease-in-out;
	color: black;

}

.switch:hover > *:hover {
	opacity: 1.0;
	font-size: 1.3em;
	color: black;

}

.one {
	font-family: Calistoga;
	font-weight: bold;
}

.two {
	font-family: Tuppence;
	font-weight: bold;
}

.three {
	font-family:  Blenny;
	font-weight: bold;
}

a:link {
	text-decoration: none;
	color: #E0FF87;
	
}

a{
	color: #E0FF87;

}

.heading {
	display: flex;
	flex-flow: column wrap;
	max-width: 70.5vw;
	margin: auto;
	padding: 0px 0px 50px 0px;
	justify-content: center;
	align-content: center;

	background: #F24E9D;
	box-shadow: 0px 10px 6px 10px rgba(0, 0, 0, 0.25);
	border-radius: 46px;

}

.header-line {
	width: 78%;
	border: 3px solid #000000;
}
.h1 {
	text-align: center;
	font-family: Blenny;
	font-style: normal;
	font-weight: 900;
	font-size: 10vw;
	line-height: 102.5%;
	max-width: 75%;
	/* or 174px */


	display: flex;
	flex-wrap: wrap;
	text-transform: uppercase;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 0px;

	color: #540D6E;

}

.h2 {
	text-align: center;
	font-family: P22 Underground;
	font-style: normal;
	font-weight: 800;
	font-size: 3vw;
	line-height: 102.5%;

	color: #540D6E;
	margin-top: 15px;
	margin-bottom: 0px;
}
.content {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

.question_box {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 50px 0px 50px 0px;

	background: #78DFFF;
	box-shadow: 0px 10px 6px 10px rgba(0, 0, 0, 0.25);
	border-radius: 60px;

	max-width: 70.5vw;
	margin: auto;

	margin-top: 80px;
	margin-bottom: 80px;

}

.question_row {
	display: flex;
	flex-direction: row-reverse;
	max-width: 76%;
	margin-bottom: 3%;

	justify-content: space-between;
}

.number {
	font-family: Blenny;
	font-style: normal;
	font-weight: 900;
	font-size: 6vw;
	line-height: 161.5%;
	margin: 0px 0px 0px 0px;

	/* identical to box height, or 323px */

	text-align: right;

	color: #540D6E;
	text-align: left;
	text-transform: lowercase;

}

.question {
	font-family: P22 Underground;
	font-style: normal;
	font-weight: 800;
	font-size: 3vw;
	line-height: 102.5%;
	max-width: 70%;
	/* or 72px */

	display: flex;
	align-items: flex-end;
	text-align: right;
	text-transform: uppercase;

	color: #540D6E;
	margin: 0px 0px 0px 0px;
}

.number_line {
	height: 0px;
	width: 76%;
	border: 3px solid #E0FF87;

}
.answer {
	font-family: P22 Underground;
	font-style: normal;
	font-weight: 600;
	font-size: 1.5vw;
	line-height: 44px;
	/* or 185% */
	max-width: 76%;
	text-align: justify;
	color: #540D6E;
	margin: auto;
}

.answer_row{
	margin-top:25px;
}

.extra_1, .extra_2{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 55%;
}

.emp {
	align-self: center;
	font-family: P22 Underground;
	font-style: normal;
	font-weight: 800;
	font-size: 2.5vw;
	line-height: 102.5%;
	/* or 72px */
	text-align: center;

	display: flex;
	text-transform: uppercase;

	color: #540D6E;

}
.answer_row {
	margin-bottom: 30px;
}
.ref {
	align-items: flex-end;

	font-family: P22 Underground;
	font-style: normal;
	font-weight: 600;
	font-size: 1.5vw;
	line-height: 138.5%;
	/* or 35px */

	text-align: center;

	color: #540D6E;
}

.ref_10 {
	text-align: center;
}

.v2 {
	background: #F24E9D;
	box-shadow: 0px 10px 6px 10px rgba(0, 0, 0, 0.25);
	border-radius: 46px;

}
.ques2 {
	font-family: P22 Underground;
	font-style: normal;
	font-weight: 800;
	font-size: 3vw;
	line-height: 102.5%;
	max-width: 80%;
	/* or 72px */

	display: flex;
	align-items: flex-end;
	text-align: right;
	text-transform: uppercase;

	color: #540D6E;
	margin: 0px 0px 0px 0px;
}

.four {
	justify-content: flex-start;
	align-self: flex-start;
}
.diamonds {
	display: flex;
	flex-direction: row;
	width: 10%;
	justify-content: space-between;

}

.dash_line {
	height: 15px;
	width: 15px;
	background-color: #E0FF87;

	transform: rotate(45deg);

}
