.switch {
	margin-bottom: 3px;
	display: flex;
	flex-direction: row;
	margin: auto;
	gap: 30px;
	justify-content: flex-end;
	max-width: 1200px;
	font-size: 95px;

	align-items: baseline;
	justify-content: center;
}
.switch > * {
	opacity:  0.5;
	transition: opacity 0.3s;
	color: black;
}

.switch:hover > * {
	opacity: 0.5;
	transition: opacity 0.3s;
	transition: font-size 0.5s ease-in-out;
	color: black;

}

.switch:hover > *:hover {
	opacity: 1.0;
	font-size: 1.3em;
	color: black;

}

.one {
	font-family: Calistoga;
	font-weight: bold;
}

.two {
	font-family: Tuppence;
	font-weight: bold;
}

.three {
	font-family:  Blenny;
	font-weight: bold;
}
a:link {
	text-decoration: none;
	color: black;
	
}

a{
	color: black;

}

.heading {
	display: flex;
	flex-flow: column wrap;
	max-width: 1092.5px;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 60px;
}

.hide {
	opacity: 0;
}

.h1 {
	text-align: left;
	font-family: 'Calistoga', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 95px;
	line-height: 117.81%;
	/* or 112px */

	letter-spacing: -0.02em;

	color: #000000;
	margin: 0px 0px 20px 0px;

}

.h2 {
	text-align: right;
	font-family: Futura;
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 99.81%;
	/* or 40px */

	text-align: right;
	letter-spacing: -0.02em;

	color: #000000;
	margin: 20px 0px 0px 0px;

}
.header-line {
	width: 100%;
	height: 0px;
	background:  black;
	border: 5px solid #000000;
}


.question_box {
	display: flex;
	flex-flow: column wrap;
	max-width:  956px;
	margin: auto;
	margin-top: 60px;
	margin-bottom: 100px;
}

.question_row {
	display: flex;
	flex: row;
	justify-content: space-between;
	align-content: flex-start;
	margin-bottom: 1%;
}
.number {
	margin: 0 0 0 0;
	font-family: Calistoga;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	line-height: 102.5%;
	/* identical to box height, or 72px */

	display: flex;
	text-align: right;
	letter-spacing: 0.08em;
	text-transform: uppercase;

	color: #000000;
}

.question {
	margin: 0 0 0 0;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 102.5%;
	/* or 31px */
	width: 65%;
	display: flex;
	align-items: flex-start;
	text-transform: uppercase;

	color: #000000;

}
.answer {
	font-family: Futura;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 165.31%;
	margin-bottom: 50px;
	/* or 28px */
	text-align: right;
	letter-spacing: 0.07em;
	color: #000000;
}
.sep_line {
	width: 100%;
	border: 3px solid #000000;

}
.numbers {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
}
.number_line {
	height: 0px;
	width: 100%;
	border: 3px solid #000000;
}
.dash_line {
	width: 100%;
	border: 3px dashed #000000

}

.extra_1 {
	display: flex;
	wrap: row;
	align-items: center;
	margin: auto;
	margin-top: 75px;
	margin-bottom: 50px;
	width: 80%;
}

.emp {
	font-family: Calistoga;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	line-height: 104%;
	/* or 62px */
	margin: auto;

	text-align: center;
	text-transform: uppercase;
	align-content: center;

	color: #000000;
}

.ref {
	font-family: Futura;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 138.5%;
	margin-left: 50px;
	/* or 25px */

	text-align: center;

	color: #000000;
}

.extra_2 {
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 75px;
	margin-bottom: 50px;
	width: 90%;
	align-items: center;
	justify-content: center;
}




