
.switch {
	margin-bottom: 3px;
	display: flex;
	flex-direction: row;
	margin: auto;
	gap: 30px;
	justify-content: flex-end;
	max-width: 1200px;

	font-family: 'Playfair Display', serif;
	font-size: 95px;
	color: black;
}

mark {
	background-color: rgba(235, 151, 78, 1);
}

}
.switch > * {
	opacity:  0.5;
	transition: opacity 0.3s;
	color: black;
}

.switch:hover > * {
	opacity: 0.5;
	transition: opacity 0.3s;
	transition: font-size 0.5s ease-in-out;
	color: black;
}

.switch:hover > *:hover {
	opacity: 1.0;
	font-size: 1.3em;
	color: black;
}

a:link {
	text-decoration: none;
	color: black;;
}

.heading {
	display: flex;
	flex-flow: column;
	max-width:  auto;
	justify-content: center;
	align-items: center;
	padding: 50px 0px 50px 0px;

	background-color: #CED1A5;

}

.header-line {
	width: 80%;
	border: 3px solid #000000;
}
.h1 {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 130px;
	line-height: 102.5%;
	/* or 133px */

	display: flex;
	align-items: flex-end;
	text-align: center;
	letter-spacing: -0.11em;
	text-transform: uppercase;

	color: #4E531A;
	margin-top: 0px;
	margin-bottom: 0px;
}

.h2 {
	font-family: Futura;
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 102.5%;
	/* or 41px */

	display: flex;
	align-items: flex-end;
	text-align: center;

	color: #4E531A;
	margin-top: 15px;
	margin-bottom: 0px;
}
.content {
	display: flex;
	flex-direction: column;
}

.question_box {
	display: flex;
	flex-flow: column;
	max-width:  auto;
	justify-content: center;
	align-items: center;
	padding: 50px 0px 50px 0px;

}

.question_row {
	display: flex;
	flex-direction: row-reverse;
	width: 76%;
	padding-top: 75px;



}

.number {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 80px;
	line-height: 161.5%;

	letter-spacing: -0.075em;
	
	-webkit-text-fill-color: transparent; 
  	-webkit-text-stroke-width: 2px;
  	-webkit-text-stroke-color: #4E531A;
	transform: rotate(-90deg);
	text-align: left;
}

.question {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	line-height: 102.5%;
	/* or 102px */

	display: flex;
	align-items: flex-end;
	text-align: justify;
	letter-spacing: -0.110em;
	text-transform: uppercase;

	color: #CED1A5;
	margin: 0px 0px 0px 0px;
}

.number_line {
	height: 0px;
	width: 76%;
	border: 3px solid #000000;

}
.answer {
	font-family: Futura;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 44px;
	width: 76%;
	margin: auto;
	/* or 185% */

	text-align: justify;

	color: #4E531A;
}
.answer_row{
	margin-top:25px;
}

.extra_1, .extra_2{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 55%;
}

.emp {
	align-self: flex-start;

	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	line-height: 108%;
	/* or 65px */

	letter-spacing: -0.09em;

	color: #4E531A;
}
.answer_row {
	margin-bottom: 30px;
}
.ref {
	align-items: flex-end;

	font-family: Futura;
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 138.5%;
	/* or 35px */

	text-align: right;

	color: #4E531A;
}

.ref_10 {
	text-align: center;
}

.v2 {
	background-color: #CED1A5;

}
.ques2 {
	color: #FFF8E8;

}

.four {
	justify-content: flex-start;
	align-self: flex-start;
}
.diamonds {
	display: flex;
	flex-direction: row;
	width: 10%;
	justify-content: space-between;

}

.dash_line {
	height: 15px;
	width: 15px;
	background-color: #000000;

	transform: rotate(45deg);

}
